$backColor: rgb(48, 54, 52);
$baseColor: #cfdae0ff;
$baseColor2: #60c3daff;
$headerColor: #293742ff;
$generalText: white;

$headerLineHeight: 70px;

@mixin centrar-vertical {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

body{
    background: $backColor;
    color: $generalText;
}

header {
    top: 0%;
    left: 0%;
    background: $headerColor;
    width: 100%;
    height: $headerLineHeight;
    color: white;
    line-height: $headerLineHeight;

    #openSideBar{
        background: none;
        color: white;
        border: 0;
        outline: none;
        margin: 0 7px;
        font-size: 1.5rem;
    }
}
.gridContainer{
    height: 100%;
}

.loading{
    top: auto;
    bottom: auto;
    position: absolute;
    width: 100%;
    height: 100%;

}

.comands, .grafico{
    @include centrar-vertical();
}

.comands{
    align-items: center;
    button{
        outline: none;
        height: auto;
        width: 80%;
        border-radius: 40px;
        background: none;
        color: $baseColor2;
        font-size: 1.5rem;
        border: 2px solid $baseColor2;
        transition: 0.3s;
    }
    button:hover{
        width: 82%;
        color: $baseColor;
        transition: 0.3s;
    }

    input[type="date"]{
        padding: 0 5px;
        background: $baseColor2;
    }
}
