$backColor: rgb(48, 54, 52);
$baseColor: #cfdae0ff;
$baseColor2: #60c3daff;
$headerColor: #293742ff;
$generalText: #e1e8edff;


$headerLineHeight: 70px;

@mixin centrar-vertical {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

@mixin size($h, $w) {
    height: $h;
    width: $w;
}

body{
    background: $backColor;
    color: $generalText;
}

header {
    top: 0%;
    left: 0%;
    background: $headerColor;
    @include size($headerLineHeight, 100%);
    color: white;
    line-height: $headerLineHeight;
    filter: drop-shadow(0px 2px 5px rgb(0, 0, 0));
    #openSideBar{
        background: none;
        color: white;
        border: 0;
        outline: none;
        margin: 0 7px;
        font-size: 1.5rem;
    }
    .logo {
        float: left;
        width: auto;
        height: $headerLineHeight;
        text-align: center;
        margin: 0 15px;
        img {
            padding: 1px;
            height: $headerLineHeight - 15px;
        }
    }
}

.gridContainer{
    margin-top: 5px;
}

.information{
    height: 85px;
    h4{
        text-align: right;
        bottom: 0;
    }
}

.IDBox {
    margin-top: 25px;
    margin-bottom: 10px;
    background: $baseColor;
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 85%;
    height: 260px;
    overflow: auto;
    filter: drop-shadow(0px 10px 10px rgb(0, 0, 0));
    header{
        padding: 5px 0;
        height: 30px;
        line-height: normal;
        margin-bottom: 3px;
    }
    div{
        a{
            text-decoration: none;
            color: $backColor;
            padding: 2px 0;
            display: inline-block;
            height: auto;
            width: 100%;
            font-size: 1.1rem;
            border-bottom: 1px solid $backColor;
        }
        a:hover, :target{
            background: $baseColor2;
            color: white;
            width: 100%;
        }
        
    }
    
}

.datePicker{
    filter: drop-shadow(0px 2px 5px rgb(0, 0, 0));
}

.comands, .grafico, .loading{
    @include centrar-vertical();
}

.grafico{
    height: 400px;
}

.comands{
    align-items: center;
}

.charge{
    margin: auto;
}

.loading{
    height: 400px;
}

.selectFactor, .selectEquid, .selectGraphic{
    outline: none;
    margin-bottom: 5px;
    background: $baseColor;
    border-radius: 7px;
    color: black;
    font-size: 1.1rem;
    padding: 0 10px;
    filter: drop-shadow(0px 2px 5px rgb(0, 0, 0));
    .option{
        text-align: center;
        align-items: center;
        background: $baseColor;
        color: black;
    }
    .option:hover{
        background: $baseColor2;
        color: white;
    }
}

.graphicOption{
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 90px;
    #selectFactor{
        width: 35%;
        float: left;
    }
    #selectMeasurement{
        width: 35%;
        float: left;
    }
    #selectGraphic{
        width: 30%;
        float: right;
    }
}

.selectFactor{
    @include size(35px, 95%);
}
.selectEquid{
    @include size(35px, 95%);
}
.selectGraphic{
    @include size(35px, 70%)
}

#infoSelect{
    align-items: center;
    text-align: center;
}

#dates{
    padding-top: 50px;
    text-shadow: black 0em 0.2em 0.9em;
    #initDate{
        float: left;
    }
    #endDate{
        float: right;
    }
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    border: 0;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(23, 169, 202);  
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 110, 134);  
}

@media (max-width: 1024px){ 
    .IDBox{
        width: 100%;
    }   
}

@media (max-width: 720px){ 
    .IDBox{
        width: 80%;
    }
    .graphicOption{
        height: 100px;
        padding-left: 12px;
    }
}

@media (max-width: 575px) { 
    .IDBox{
        width: 85%;
    }
    .loading{
        height: 300px;
    }
    .grafico{
        height: 300px;
    }
    .graphicOption{
        height: 100px;
        padding-left: 15px;
    }
}