$backColor: rgb(48, 54, 52);
$baseColor: #cfdae0ff;
$baseColor2: #60c3daff;
$headerColor: #293742ff;
$generalText: white;


$headerLineHeight: 70px;

@mixin centrar-vertical {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

@mixin size($h, $w) {
    height: $h;
    width: $w;
}

body{
    background: $backColor;
    color: $generalText;
}

header {
    top: 0%;
    left: 0%;
    background: $headerColor;
    @include size($headerLineHeight, 100%);
    color: white;
    line-height: $headerLineHeight;

    #openSideBar{
        background: none;
        color: white;
        border: 0;
        outline: none;
        margin: 0 7px;
        font-size: 1.5rem;
    }
}

.gridContainer{
    margin-top: 50px;
}

.loading{
    height: 400px;
    .bubble{
        margin: auto;
    }

}

.comands, .grafico, .loading{
    @include centrar-vertical();
}

.grafico{
    height: 400px;
}

.comands{
    align-items: center;
    #submit{
        outline: none;
        @include size(auto, 80%);
        border-radius: 40px;
        background: none;
        color: $baseColor2;
        font-size: 1.5rem;
        border: 2px solid $baseColor2;
        transition: 0.3s;
    }
    #submit:hover{
        width: 82%;
        color: $baseColor;
        transition: 0.3s;
    }

    input[type="date"]{
        padding: 0 5px;
        background: $baseColor2;
    }
}


.selectFactor, .selectEquid{
    outline: none;
    margin-bottom: 15px;
    background: $baseColor;
    border-radius: 7px;
    color: black;
    font-size: 1.1rem;
    .option{
        text-align: center;
        align-items: center;
        background: $baseColor;
        color: black;
    }
    .option:hover{
        background: $baseColor2;
        color: white;
        
    }
}

.selectFactor{
    @include size(35px, 85%);
}
.selectEquid{
    @include size(35px, auto);
}